<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d7f9decb-b8f8-46ac-b4eb-fda6518cd8ee/resourceGroups/RG-ENGIE-CHALLENGE/providers/Microsoft.Web/sites/gem-spaas-powerplant-coding-challenge</ResourceId>
    <ResourceGroup>RG-ENGIE-CHALLENGE</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gem-spaas-powerplant-coding-challenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://gem-spaas-powerplant-coding-challenge.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>37db863d-765a-4112-9812-bbf12741586d</ProjectGuid>
    <MSDeployServiceURL>waws-prod-am2-311.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gem-spaas-powerplant-coding-challenge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gem-spaas-powerplant-coding-challenge</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>